# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Static files (optional)
staticfiles/

# Logs
*.log