<!DOCTYPE html>
<html>
<head>
    <title>Clinic System</title>
</head>

<body>

<!-- TOP BAR -->
<div style="background:#2c3e50; color:white; padding:10px;">
    
    <span><strong>Clinic System</strong></span>

    <span style="float:right;">
        Logged in as: 
        <strong>
            {{ request.user.get_full_name|default:request.user.username }}
        </strong>

        | <a href="/logout/" style="color:white;">Logout</a>
    </span>

</div>

<hr>

<!-- PAGE CONTENT -->
{% block content %}
{% endblock %}

</body>
</html>